<app-default-login-layout 
title="Acesse ou crie sua conta"
primaryBtnText="Entrar"
secundaryBtnText="Inscreva-se agora"
(submit)="submit()"
(navigate)="navigate()"
[disablePrimaryBtn]="!loginForm.valid"
>

    <form [formGroup]="loginForm">
        <app-primary-input
        formControlName="email"
        InputName="email"
        type="email"
        label="Email"
        placeholder="johndoe@gmail.com"
        >
            <img style="width: 20px;" src="assets/svg/iconeEmail.svg"/>
        </app-primary-input>

        <app-primary-input
        formControlName="password"
        InputName="senha"
        type="password" 
        label="Senha"
        placeholder="Sua senha"
        >
            <img style="width: 20px;" src="assets/svg/iconePassword.svg"/>
        </app-primary-input>
        <span>Esquceu sua senha?</span>
    </form>

</app-default-login-layout>
